/* background-color */
#bc{
    background-color: lightblue;
}

/* background-clip */
.div-test{
    background: peachpuff;
    padding: 30px;
    border: 5px dashed orange;
    margin-bottom: 20px;
}

#bc1{
    background-clip: content-box;
}

#bc2{
    /* content+padding */
    background-clip: padding-box;
}

#bc3{
    /* content+padding+border */
    background-clip: border-box;
}

 #test{
    width: 400px;
    height: 300px;
    border: 2px solid;

    background-image: url("assets/bg.jpg");
    /* size : 이미지 크기 조절 px, contain - 무조건 전체 다 보이게 / cover - 전체 */
    background-size: cover;
    /* repeat : 반복여부설정 no-repeat */
    background-repeat: no-repeat
    /* position : 이미지 위치 설정 center */
    background-position: center;
    /* attachment: 스크롤 여부 확인 */
background-attachment: fixed;
/* background : color image position/size repeat attachment */
}


