.container {
  background: darkgray;
  display: grid;
  gap: 10px;
}

.item {
  color: white;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid-basic {
  grid-template-columns: 100px 200px 100px;
  grid-template-rows: 50px 30px;
}

#grid-gap {
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(2, 80px);
  /* 행 간격 */
  row-gap: 50px;
  /* 열 간격 */
  column-gap: 30px;
}

#grid-span {
  grid-template-columns: 100px 1fr 2fr;
  grid-template-rows: repeat(4, 50px);
}

#grid-span .span1 {
  grid-column: 1 / 3;
}
#grid-span .span2 {
  grid-row: 2 / 4;
}

#grid-area {
  grid-template-areas:
    "header header"
    "nav main"
    "nav sidebar"
    "footbar" "footbar";
}

.header {
  grid-area: header;
  background-color: aliceblue;
}

.nav {
  grid-area: nav;
  background-color: aqua;
}

.main {
  grid-area: main;
  background-color: beige;
}

.sidebar {
  grid-area: sidebar;
  background-color: wheat;
}

.footbar {
  grid-area: footbar;
  background-color: violet;
}

#auto-fit {
  /* auto-fit : 가능한 공간만큼 채우고, 남은 칸은 collapse */
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

#auto-fill {
  /* auto-fill : 가능한 칸 수 만큼 채우고, 빈캄도 자리 확보 */
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.item i {
  font-size: 2rem;
  color: rgb(247, 218, 230);
}
#items {
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 100px;
  align-items: flex-end;
  justify-items: flex-start;
}

#content {
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(2, 80px);
  height: 300px;
  align-content: space-evenly;
  justify-content: center;
}
