.box {
  width: 150px;
  height: 150px;
  background-color: black;
  color: white;
  line-height: 150px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  margin: auto;
}
.transition {
  background-color: rgb(106, 250, 142);

  /* transition: all 10s;
    transition-property: background-color, font-size;
    property : 속성 명시, duration: 전환 시간,
    timing-function: 전환 속도 곡선, delay:전환 시간 지연 시간 */
  transition-property: all;
  transition-duration: 5s;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
  transition: all 2s ease-in-out;
}

.transition:hover {
  background-color: rgb(103, 175, 235);
  font-size: 2rem;
  transform: scale(1.5) rotate(15deg);
  border-radius: 50%;
}

/* transform */
.transform-scale {
  background-color: rgb(240, 129, 129);
}

.transform-scale:hover {
  /* scale : 크기확대 */
  transform: scale(1.2);
}

.transform-rotate {
  background-color: orange;
}

.transform-rotate:hover {
  /* rotate : 회전 */
  transform: rotate(45deg);
}

.transform-translate {
  background: wheat;
}

.transform-translate:hover {
  /* translate : 이동(x,y) */
  transform: translate(40px, 20px);
}

.transform-skew {
  background-color: rgb(219, 138, 230);
}

.transform-skew:hover {
  /* skew : 기울이기 */
  transform: skew(10deg, 20deg);
}

/* animation */
@keyframes bounce {
  0% {
    transform: translate(0);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: translate(25px, 50px);
  }
}

.animation-once {
  background-color: rgb(241, 204, 210);
  /* animation : 애니메이션명 지속시간 속도곡선 횟수 */
  animation: bounce 1s ease-in-out 1;
}

.animation-alternate {
  background-color: rgb(133, 235, 201);
  animation: bounce 1s ease-in-out 1;
}

@keyframes bounce2 {
  0%,
  100% {
    transform: translate(0);
  }

  50% {
    transform: translateY(-30px);
  }
}
.animation-reverse {
  background-color: salmon;
  animation: bounce 10s ease-in-out reverse;
}

.animation-paused {
  background-color: darkgreen;
  animation: bounce2 2s linear infinite;
}

.animation-paused:hover {
  animation-play-state: paused;
}

.perspective-container {
  perspective: 600px;
}

.perspective-container .box {
  transform: transform 1s;
  transform-style: preserve-3d;
}

.perspective-container .box:hover {
  transform: rotateY(180deg);
}
