* {
}

body {
  background: rgba(109, 76, 61, 0.842);
}

header {
  border: 2px solid white;
  background: white;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

header nav a {
  color: black;
  font-size: 10px;
}

#section1 {
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#section1 p {
  font-size: small;
  color: white;
  text-align: center;
  margin: 10px;
}

#section2 {
  background-color: brown;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#section2 p {
  font-size: small;
  color: white;
  text-align: center;
  margin: 10px;
}

#section3 {
  background-color: maroon;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#section3 p {
  font-size: small;
  color: white;
  text-align: center;
  margin: 10px;
}
