h1 {
  text-align: center;
}

section1 {
  width: 600px;
  border: 2px, solid, rgb(190, 186, 186);
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

section1 input {
  border: 2px, solid, rgb(190, 186, 186);
  border-radius: 5px;
  padding: 10px;
}

section1 p {
  color: gray;
  text-align: left;
}

section2 button {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background-color: lightgray;
  color: white;
  margin: 10px;
}

button:last-child {
  background-color: lightseagreen;
  color: white;
}
